body {
  background-color: #f4f4f4;
  color: #2e2f42;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* #region header */
header {
  display: flex;
  align-items: center; /* Вертикальное выравнивание содержимого header */
  justify-content: space-between; /* Разделить nav и address по краям */
  padding: 24px 0; /* Отступы сверху и снизу по 24 px */
  gap: 24px; /* Промежуток между прямыми дочерними элементами header */
}

header nav {
  display: flex;
  align-items: center;
  gap: 76px; /* Промежуток между WebStudio и списком навигации */
}

header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 24px; /* Промежуток между пунктами меню */
}

header nav a {
  margin: 24px 0; /* 24px сверху и снизу, справа и слева — 0 */
}

header address {
  display: flex;
  align-items: center;
}

header address ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 24px; /* Промежуток между контактами */
}

.webstudio {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 24px;
  margin-left: 156px;
  margin-right: 76px;
}

.blue-part {
  color: #5a4fcf;
}

.black-part {
  color: #000080;
}
.studio {
  width: 48px;
  height: 24px;
}

.portfolio {
  width: 66px;
  height: 24px;
  margin-left: 40px;
  margin-right: 40px;
}

.contacts {
  width: 67px;
  height: 24px;
}

.mailto {
  width: 153px;
  height: 24px;
  margin-right: 40px;
  margin-left: 332px;
}
.tel {
  width: 151px;
  height: 24px;
  margin-right: 156px;
  white-space: nowrap;
}
/* #endregion header */

/* #region section1 */
.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #000080;
  height: 600px;
  width: 1440px;
}

h1 {
  color: white;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.33;
  margin: 188px 474px 48px 470px;
  width: 496px;
  height: 120px;
}

button {
  width: 169px;
  height: 56px;
  background-color: #5a4fcf;
  border: none;
  padding: 0;
  margin: 0 637px 188px 634px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
/* #endregion section1 */

